<!DOCTYPE html>
<html>
<head>
    <title>SPA with API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <button onclick="loadHome()">Home</button>
    <button onclick="loadAbout()">About</button>
    <button onclick="loadProjects()">Projects</button>
</nav>


<div id="loader" class="loader"></div>

<div id="content" style="display:none;"></div>

<script>
    function showLoader() {
        document.getElementById("loader").style.display = "block";
        document.getElementById("content").style.display = "none";
    }

    function showContent(title, message) {
        document.getElementById("loader").style.display = "none";
        document.getElementById("content").style.display = "block";
        document.getElementById("content").innerHTML = `
            <h1>${title}</h1>
            <p>${message}</p>
        `;
    }

    function loadHome() {
        showLoader();
        fetch("/api/home")
            .then(response => response.json())
            .then(data => {
                setTimeout(() => {
                    showContent(data.title, data.message);
                }, 500); // simulate loading
            });
    }

    function loadAbout() {
        showLoader();
        fetch("/api/about")
            .then(response => response.json())
            .then(data => {
                setTimeout(() => {
                    showContent(data.title, data.message);
                }, 500);
            });
    }

    loadHome();
    
    function loadProjects() {
        showLoader();
        fetch("/api/projects")
            .then(response => response.json())
            .then(data => {
                let list = "<ul>";
                data.projects.forEach(project => {
                    list += `<li>${project}</li>`;
                });
                list += "</ul>";

                setTimeout(() => {
                    document.getElementById("loader").style.display = "none";
                    document.getElementById("content").style.display = "block";
                    document.getElementById("content").innerHTML = `
                        <h1>${data.title}</h1>
                        ${list}
                    `;
                }, 500);
            });
    }
</script>

</body>
</html>
